<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body th:fragment="header">

	<div class="container-fluid hidden-xs brand-header">
			<h1><a class="" th:href="@{/}">WAGA</a> <a class="tag-line" th:href="@{/}">HOME OF THE WOODMAN CUP</a></h1>
	</div>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand hidden-sm hidden-md hidden-lg" th:href="@{/}">WAGA</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li th:classappend="${helper.isActive('home')}? 'active'"><a th:href="@{/}"><span>Home</span></a></li>
					<li th:classappend="${helper.isActive('rtcb')}? 'active'"><a th:href="@{/racetociaobella}"><span>Race to Ciao Bella 2016</span></a></li>
<!-- 					<li th:classappend="${helper.isActive('wc')}? 'active'"><a th:href="@{woodmancup}">Woodman Cup</a></li> -->
					<li th:if="${#httpServletRequest.remoteUser}"><form class="navbar-form" th:action="@{/logout}" method="post"><input class="btn btn-link nav-link" type="submit" value="Sign Out"/></form> </li>

				</ul>
				
				
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

</body>

</html>