<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='WAGA ADMIN')"></head>
<body>

	<div th:replace="fragments/header::header"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Admin Centre</h1>
				<!-- List group -->
				<ul class="list-group">
					<li class="list-group-item"><a th:href="@{/admin/players}">Players</a></li>
					<li class="list-group-item"><a th:href="@{/admin/venues}">Venues</a></li>
					<li class="list-group-item"><a th:href="@{/admin/races}">Races</a></li>
					<li class="list-group-item"><a th:href="@{/admin/news}">News</a></li>
				</ul>
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>