<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head::head (title='WAGA')"></head>
  <body>
  	
  	<div th:replace="fragments/header::header"></div>
  	
  	<div class="container-fluid">
  		<div class="row">
		  <div class="col-md-8">
		  
		  	<h2 th:if="${items.size() == 0}">No news yet. Check back later</h2>
		    
		    <div class="media" th:each="item : ${items}">
			  <div class="media-left">
			    <a th:href="${item.link}">
			      <img class="media-object" th:src="${item.imageUrl}" height="64px" width="64px" alt="..."></img>
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading" ><a th:href="${item.link}" th:text="${item.title}">Media heading</a></h4>
			    <p th:text="${item.summary}"></p>
			    <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span th:text="${helper.elapsedTime(item.createdDate)}"></span> | <span th:text="${item.tag}"></span></p>
			  </div>
			</div>
			
			<hr/>
			
		  </div>
		  <div class="col-md-4">
		  		<h4>Race to Ciao Bella Leaderboard</h4>
		  		<table class="table table-condensed">
				  <thead>
				  	<tr>
				  		<th>Rank</th>
				  		<th>Player</th>
				  		<th>Played</th>
				  		<th>Points</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr th:each="ranking : ${rtcbRankings}">
				  		<td th:text="${ranking.position}"></td>
				  		<td th:text="${ranking.player}"></td>
				  		<td th:text="${ranking.played}"></td>
				  		<td th:text="${ranking.points}"></td>
				  	</tr>
				  </tbody>
				</table>
							
				<hr/>
				
				<div th:replace="fragments/lasttournament :: table"></div>
				
				<hr/>
				
<!-- 				<h4>Woodman Cup Hall Of Fame</h4> -->
<!-- 		  		<table class="table table-condensed"> -->
<!-- 				  <thead> -->
<!-- 				  	<tr> -->
<!-- 				  		<th>Position</th> -->
<!-- 				  		<th>Player</th> -->
<!-- 				  		<th>Played</th> -->
<!-- 				  		<th>Points</th> -->
<!-- 				  	</tr> -->
<!-- 				  </thead> -->
<!-- 				  <tbody> -->
<!-- 				  	<tr th:each="leader : ${wcLeaders}"> -->
<!-- 				  		<td th:text="${leader.position}"></td> -->
<!-- 				  		<td th:text="${leader.player}"></td> -->
<!-- 				  		<td th:text="${leader.played}"></td> -->
<!-- 				  		<td th:text="${leader.points}"></td> -->
<!-- 				  	</tr> -->
<!-- 				  </tbody> -->
<!-- 				</table> -->
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/scripts::scripts"></div>
	
  </body>
</html>