<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head::head (title='News')"></head>
  <body>
  	
  	<div th:replace="fragments/header::header (location='news')"></div>
  	
  	<div class="container-fluid">
  		<div class="row">
		  <div class="col-md-8">
		  
		  	<h2 th:if="${items.size() == 0}">No news yet. Check back later</h2>
		    
		    <div class="media" th:each="item : ${items}">
			  <div class="media-left">
			    <a th:href="${item.link}">
			      <img class="media-object" th:src="${item.imageUrl}" alt="..."></img>
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading" ><a th:href="@{{link}(link=${item.link})}" th:text="${item.title}">Media heading</a></h4>
			    <p th:text="${item.summary}"></p>
			    <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span th:text="${helper.elapsedTime(item.createdDate)}"></span> | <span th:text="${item.tag}"></span></p>
			  </div>
			</div>
			
			<hr/>
			
		  </div>
		  
		</div>
	</div>
	
	<th:block th:include="fragments/scripts::scripts"></th:block>
	
  </body>
</html>