<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='WAGA ADMIN')"></head>
<body>

	<div th:replace="fragments/header::header (location='admin')"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><a th:href="@{/admin}">Admin</a></li>
				  <li><a th:href="@{/admin/races}">Races</a></li>
				  <li class="active" th:text="${race.season}"></li>
				</ol>
				
				<h2>Add Tournament</h2>
					
				<div class="panel panel-default">
			  		 <div class="panel-body">
						<form th:action="@{/admin/races/{id}(id=${race.id})}" th:object="${tournamentForm}" method="post">
						  <div class="form-group">
						    <label for="exampleInputEmail1">Name</label>
						    <input type="text" th:field="*{name}" class="form-control"></input>
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Date</label>
						    <input type="text" th:field="*{date}" class="form-control"></input>
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Venue</label>
						    <select class="form-control" th:field="*{venueId}">
							  <option th:each="venue : ${venues}" th:value="${venue.id}" th:text="${venue.name}"></option>
							</select>
						  </div>
						  <input type="submit" name="tournament" value="Add" class="btn btn-default"></input>
						</form>
			  		 </div>
			  	</div>
				
				<h2>Tournaments</h2>
				
					<table class="table">
						<thead>
							<tr>
								<th>Season</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr  th:each="tournament : ${race.tournaments}">
								<td><a th:href="@{/admin/races/{id}/tournaments/{tid}(id=${race.id},tid=${tournament.id})}" th:text="${tournament.name}"></a></td>
								<td><form th:action="@{/admin/races/{id}(id=${race.id})}" method="post"><input type="hidden" name="tournamentId" th:value="${tournament.id}"></input><input type="submit" class="btn btn-default" name="remove" value="Remove"></input></form></td>
							</tr>
						</tbody>
					</table>
				
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>