<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='WAGA ADMIN')"></head>
<body>

	<div th:replace="fragments/header::header"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><a th:href="@{/admin}">Admin</a></li>
				  <li class="active">Races</li>
				</ol>
				<h2>Add Race</h2>
				
				<div class="panel panel-default">
				  <div class="panel-body">
				  	<form th:action="@{/admin/races}" th:object="${raceToCiaoBella}" method="post">
					  <div class="form-group">
					    <label for="exampleInputEmail1">Season</label>
					    <input type="text" th:field="*{season}" class="form-control"></input>
					  </div>
					  <button type="submit" class="btn btn-default">Add</button>
					</form>
				  </div>
				</div>
				
				<h2>Races</h2>
				
					<!-- List group -->
				  <ul class="list-group">
				    <li class="list-group-item" th:each="race : ${races}"><a th:href="@{/admin/races/{id}(id=${race.id})}" th:text="${race.season}"></a></li>
				  </ul>
				
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>