<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='RTCB')"></head>
<body>

	<div th:replace="fragments/header::header"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#leaderboard"
						aria-controls="leaderboard" role="tab" data-toggle="tab">Leaderboard</a></li>
					<li role="presentation"><a href="#tournaments"
						aria-controls="tournaments" role="tab" data-toggle="tab">Tournaments</a></li>
					<li role="presentation"><a href="#news" aria-controls="news"
						role="tab" data-toggle="tab">News</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="leaderboard">
						<div class="waga-tab-content">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Player</th>
										<th>Played</th>
										<th>Points</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="ranking : ${rtcbRankings}">
										<td th:text="${ranking.position}"></td>
										<td th:text="${ranking.player}"></td>
										<td th:text="${ranking.played}"></td>
										<td th:text="${ranking.points}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="tournaments">
						<div class="waga-tab-content">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" th:each="race : ${races}">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" th:text="${race.season}"></a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
										
											
										
<!-- 											<p th:text="${tournament.venue.name} + ' | ' + ${#dates.format(tournament.date, 'dd-MMM-yyyy')}"></p> -->
<!-- 											<table class="table"> -->
<!-- 												<thead> -->
<!-- 													<tr> -->
<!-- 														<th>Position</th> -->
<!-- 														<th>Player</th> -->
<!-- 														<th>Handicap</th> -->
<!-- 														<th>Points</th> -->
<!-- 													</tr> -->
<!-- 												</thead> -->
<!-- 												<tbody> -->
<!-- 													<tr th:each="result : ${tournament.finalResults}"> -->
<!-- 														<td th:text="${result.position}"></td> -->
<!-- 														<td th:text="${result.name}"></td> -->
<!-- 														<td th:text="${result.handicap}"></td> -->
<!-- 														<td th:text="${result.score}"></td> -->
<!-- 													</tr> -->
<!-- 												</tbody> -->
<!-- 											</table> -->
											
											
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="news">
						<div class="waga-tab-content">
							<div class="media" th:each="item : ${items}">
								<div class="media-left">
									<a th:href="${item.link}"> <img class="media-object"
										th:src="${item.imageUrl}" height="64px" width="64px" alt="..."></img>
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">
										<a th:href="${item.link}" th:text="${item.title}">Media
											heading</a>
									</h4>
									<p th:text="${item.summary}"></p>
									<p>
										<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
										<span th:text="${helper.elapsedTime(item.createdDate)}"></span>
										| <span th:text="${item.tag}"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr />

			</div>
			<div class="col-md-4">
				<h4>Race to Ciao Bella Leaderboard</h4>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Player</th>
							<th>Played</th>
							<th>Points</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ranking : ${rtcbRankings}">
							<td th:text="${ranking.position}"></td>
							<td th:text="${ranking.player}"></td>
							<td th:text="${ranking.played}"></td>
							<td th:text="${ranking.points}"></td>
						</tr>
					</tbody>
				</table>

				<hr />

				<div th:replace="fragments/lasttournament :: table"></div>

			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>