<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='WAGA ADMIN')"></head>
<body>

	<div th:replace="fragments/header::header"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><a th:href="@{/admin}">Admin</a></li>
				  <li class="active">Race To Ciao Bella</li>
				</ol>
				<h2>Add Race</h2>
				
				<div class="panel panel-default">
				  <div class="panel-body">
				  	<form th:action="@{/admin/rtcb}" th:object="${raceToCiaoBella}" method="post">
					  <div class="form-group">
					    <label for="exampleInputEmail1">Season</label>
					    <input type="text" th:field="*{season}" class="form-control"></input>
					  </div>
					  <button type="submit" class="btn btn-default">Add</button>
					</form>
				  </div>
				</div>
				
				<h2>Add Tournament</h2>
					
				<div class="panel panel-default">
			  		 <div class="panel-body">
						<form th:action="@{/admin/rtcb/tournament}" th:object="${tournamentForm}" method="post">
						  <div class="form-group">
						    <label for="exampleInputEmail1">Season</label>
						    <select class="form-control" th:field="*{raceId}">
							  <option th:each="race : ${races}" th:value="${race.id}" th:text="${race.season}"></option>
							</select>
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Name</label>
						    <input type="text" th:field="*{name}" class="form-control"></input>
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Date</label>
						    <input type="text" th:field="*{date}" class="form-control"></input>
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Venue</label>
						    <select class="form-control" th:field="*{venueId}">
							  <option th:each="venue : ${venues}" th:value="${venue.id}" th:text="${venue.name}"></option>
							</select>
						  </div>
						  <button type="submit" class="btn btn-default">Add</button>
						</form>
			  		 </div>
			  	</div>
				
				<h2>Update Race</h2>
				
				<div class="panel panel-default" th:each="race : ${races}">
				  <div class="panel-heading" th:text="${race.season}"></div>
				  <div class="panel-body">
				  	
				  	<div class="panel panel-default">
				  		 <div class="panel-body">
					  	
					  	<form th:action="@{/admin/rtcb/{id}(id=${race.id})}"  method="post">
						  <div class="form-group">
						    <label for="exampleInputEmail1">Season</label>
						    <input type="text" name="season" th:value="${race.season}" class="form-control"></input>
						  </div>
						  <button type="submit" class="btn btn-default">Update</button>
						</form>
						
						<hr/>						
						
						<div class="panel panel-default" th:each="tourEvent : ${race.tournaments}">
						  <div class="panel-heading" th:text="${tourEvent.name}"></div>
						  <div class="panel-body">
						  	
						  	<form th:action="@{/admin/rtcb/{id}/tournament/{tid}(id=${race.id}, tid=${tourEvent.id})}" method="post">
							  <div class="form-group">
							    <label for="exampleInputEmail1">Name</label>
							    <input type="text" name="name" th:value="${tourEvent.name}" class="form-control"></input>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Date</label>
							    <input type="text" name="date" th:value="${tourEvent.date}" class="form-control"></input>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Venue</label>
							    <select class="form-control" name="venueId" th:value="${tourEvent.venueId}">
								  <option th:each="venue : ${venues}" th:value="${venue.id}" th:text="${venue.name}"></option>
								</select>
							  </div>
							  <button type="submit" class="btn btn-default">Update</button>
							</form>
							
						  </div>
						</div>
						
						</div>
						
						<hr/>
						
				  	</div>
				  
					
				  </div>
				</div>
				
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>