<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='WAGA ADMIN')"></head>
<body>

	<div th:replace="fragments/header::header"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><a th:href="@{/admin}">Admin</a></li>
				  <li><a th:href="@{/admin/races}">Races</a></li>
				  <li><a th:href="@{/admin/races/{id}(id=${race.id})}" th:text="${race.season}"></a></li>
				  <li class="active" th:text="${tournament.name}"></li>
				</ol>
				
				<h2>Add Result</h2>
					
				<div class="panel panel-default">
			  		 <div class="panel-body">
						<form th:action="@{/admin/races/{id}/tournaments/{tid}(id=${race.id}, tid=${tournament.id})}" th:object="${resultForm}" method="post">
						  <div class="form-group">
						    <label for="exampleInputEmail1">Player</label>
						    <select class="form-control" th:field="*{playerId}">
							  <option th:each="player : ${players}" th:value="${player.id}" th:text="${player.fullName} + ' [' + ${player.currentHandicap} + ']'"></option>
							</select>
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Handicap</label>
						    <input type="text" th:field="*{handicap}" class="form-control"></input>
						  </div>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Points</label>
						    <input type="text" th:field="*{score}" class="form-control"></input>
						  </div>
						  <input type="submit" name="result" value="Add" class="btn btn-default"></input>
						</form>
			  		 </div>
			  	</div>
				
				<h2>Results</h2>
				
				<table class="table">	
					<thead>
						<tr>
							<th>Name</th>
							<th>Handicap</th>
							<th>Points</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="result : ${tournament.sortedResults()}">
							<td th:text="${result.player.fullName}"></td>
							<td th:text="${result.handicap}"></td>
							<td th:text="${result.score}"></td>							
							<td>
								<form th:action="@{/admin/races/{id}/tournaments/{tid}(id=${race.id}, tid=${tournament.id})}" method="POST">
									<input type="hidden" name="resultId" th:value="${result.id}"></input>
									<input type="submit" class="btn btn-default" name="deleteResult" value="Delete"></input>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				
				  
				
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>