<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='WAGA ADMIN')"></head>
<body>

	<div th:replace="fragments/header::header"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><a th:href="@{/admin}">Admin</a></li>
				  <li class="active">Venues</li>
				</ol>
				<h2>Add Venue</h2>
				
				<div class="panel panel-default">
				  <div class="panel-body">
				  	<form th:action="@{/admin/venues}" th:object="${venue}" method="post">
					  <div class="form-group">
					    <label for="exampleInputEmail1">Name</label>
					    <input type="text" th:field="*{name}" class="form-control"></input>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Link</label>
					    <input type="text" th:field="*{link}" class="form-control"></input>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Google Map</label>
					    <input type="text" th:field="*{googleMapLink}" class="form-control"></input>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Image</label>
					    <input type="text" th:field="*{imageUrl}" class="form-control"></input>
					  </div>
					  <button type="submit" class="btn btn-default">Add</button>
					</form>
				  </div>
				</div>
				
				<h2>Update Venue</h2>
				
				<div class="panel panel-default" th:each="ven : ${venues}">
				  <div class="panel-heading" th:text="${ven.name}"></div>
				  <div class="panel-body">
				  	<form th:action="@{/admin/venues}"  method="post">
				  	<input type="hidden" name="id" th:value="${ven.id}"></input>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Name</label>
					    <input type="text" name="name" th:value="${ven.name}" class="form-control"></input>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Link</label>
					    <input type="text" name="link" th:value="${ven.link}" class="form-control"></input>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Google Map</label>
					    <input type="text" name="googleMapLink" th:value="${ven.googleMapLink}" class="form-control"></input>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Image</label>
					    <input type="text" name="imageUrl" th:value="${ven.imageUrl}" class="form-control"></input>
					  </div>
					  <input type="submit" class="btn btn-default" name="update" value="Update"></input>
					  <input type="submit" class="btn btn-default" name="remove" value="Remove"></input>
					</form>
				  </div>
				</div>
				
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>